/* landing.css */

.landing-page {
    --primary-color: #D82C51;
    --accent-color: #C2A180;
    --background-color: #1E1E1E;
    --neutral-color: #F5F5F5;

    --block-shadow: 6px 6px 0px var(--accent-color);
    --hover-block-shadow: 8px 8px 0px var(--accent-color);

    padding: 0 0 !important;
    font-family: 'Aller', sans-serif !important;
    display: flex;
}

/* Hero Section */
.hero-container {
    display: flex;
}

.main {
    width: 100%;
}

.main-img {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3rem !important;
    color: var(--primary-color) !important;
    text-align: left !important;
    font-family: 'Aller', sans-serif !important;
    line-height: 1 !important;
    margin: 0 !important;
    padding: 0 !important;
}

    .title span {
        display: inline-block !important;
        line-height: inherit; 
        margin: 0 !important;
        padding: 0 !important;
    }

    h1.title {
        margin: 0 !important;
        padding: 0 !important;
        line-height: inherit !important;
    }

    h2.subheader {
        margin: 0 !important;
        padding: 0 !important;
        line-height: 1 !important;
    }


    span {
        display: inline-block !important;
    }

    .subheader {
        color: var(--accent-color) !important;
        font-size: 3rem;
        line-height: 1;
    }

    .description {
        color: var(--neutral-color) !important;
        font-size: 1.5rem;
    }

    .action {
        display: flex;
        gap: 2rem;
    }

.action a {
    display: flex;
    color: var(--neutral-color);
    font-size: 1.2rem;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
}

    .action .button-primary {
        background-color: var(--primary-color);
        padding: 0 2rem;
        color: var(--neutral-color);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .action .button-primary:hover {
        background-color: var(--neutral-color);
        color: var(--primary-color);
    }

    .action .button-secondary {
        background-color: var(--background-color);
        color: var(--accent-color);
        box-shadow: inset 0 0 0 2px var(--accent-color);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .action .button-secondary:hover {
        color: var(--background-color);
        background-color: var(--accent-color);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

.feature-container {
    padding: 4rem 0;
}

    .feature-card-container {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
    }

    .feature-title {
        line-height: 1;
    }

    .feature-title span {
        font-size: 24px;
        color: var(--accent-color);
    }

    .feature-subheader {
        font-size: 20px;
        padding-top: 8px;
        color: var(--neutral-color);
    }

    /* Feature Cards */
    .feature-items {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .card {
        border-radius: 10px;
        width: calc(30%);
        flex-grow: 1;
        text-align: left;
        box-shadow: inset 0 0 0 2px var(--accent-color);
        padding: 2.5rem;
        border-radius: 0;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }

        .card:hover {
            box-shadow: var(--hover-block-shadow), 0 0 0 2px var(--accent-color);
            transform: scale(1.05);
        }

        .card .card-image svg {
            width: 100%;
            width: 3rem;
            height: 3rem;
            align-items: center;
            fill: var(--accent-color);
        }

        .card h3 {
            color: var(--accent-color);
            font-size: 1.5rem;
            margin: 0 !important;
            padding: 0 !important;
            line-height: inherit !important;
        }

        .card p {
            color: var(--neutral-color);
            font-size: 1rem;
        }

        @media (max-width: 768px) {
            .card {
                width: calc(50% - 20px);
            }
        }

        @media (max-width: 480px) {
            .card {
                width: 100%;
            }
        }
